---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Source+Code+Pro');

.page-header .btn {
  visibility: hidden;
}

.page-header .project-name {
  font-family: 'Amatic SC';
  font-size: 60pt;
}

.page-header .project-tagline {
  font-family: 'Source Code Pro', monospace;
}

.page-header {
  background-color: #00fdc8;
}

.site-footer {
  visibility: hidden;
}

.main-content {
  font-family: 'Source Code Pro', monospace;
}

.main-content h2 {
  font-family: 'Amatic SC'
}

.main-content h3 {
  font-family: 'Amatic SC'
}
